[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
python-dotenv = "*"
mysqlclient = "*"
djangorestframework-filters = "==1.0.0.dev0"
django-cors-headers = "*"
six = "*"

[requires]
python_version = "3.7"
